<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="https://i.hizliresim.com/gd1diia.jfif">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        İrem Akpınar
                        <span class="user-level">Yönetici</span>
                        <span class="caret"></span>
                    </span>
                </a>
                <div class="clearfix"></div>

                <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                    <ul class="nav">
                        <li>
                            <a href="#profile">
                                <span class="link-collapse">profilim</span>
                            </a>
                        </li>
                        <li>
                            <a href="#edit">
                                <span class="link-collapse">profili Düzenle</span>
                            </a>
                        </li>
                        <li>
                            <a href="#settings">
                                <span class="link-collapse">Ayarlar</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a href="index.html">
                    <i class="la la-dashboard"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/DefaultController1/Index">
                    <i class="la la-home"></i>
                    <p>Siteye Git</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Feature/FeaturePage">
                    <i class="la la-quote-left"></i>
                    <p>Öne Çıkan Alan</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/AboutController1/AboutPage">
                    <i class="la la-user"></i>
                    <p>Hakkımda</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Skills/SkillPage">
                    <i class="la la-certificate"></i>
                    <p>Yeteneklerim</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Eperience/ExperienceList">
                    <i class="la la-briefcase"></i>
                    <p>Deneyimler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Portfolio/PortfolioList">
                    <i class="la la-file-code-o"></i>
                    <p>portfolyo</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Testimonial/TestimonialList">
                    <i class="la la-group"></i>
                    <p>Referanslarım</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Statistic/Index">
                    <i class="la la-bar-chart"></i>
                    <p>İstatistikler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Contact/ContactList">
                    <i class="la la-phone-square"></i>
                    <p>İletişim Bilgileri</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/ToDoList/Index">
                    <i class="la la-bell"></i>
                    <p>Yapılacaklar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Message/Inbox">
                    <i class="la la-envelope-o"></i>
                    <p>Gelen Kutusu</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <i class="la la-facebook"></i>
                    <p>Sosyal Medya </p>
                </a>
            </li>
            <li class="nav-item">
                <i> <button class="btn btn-danger" href="https://www.google.com/">Çıkış Yap</button></i>
            </li>
        </ul>
    </div>
</div>