@model MyPortfolioUdemy.DAL.Entities.Contact
@{
    ViewData["Title"] = "CreateContact";
    Layout = "~/Views/LayoutController1/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">iletişim bilgileri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">iletişim bilgisi Ekleme Sayfası</div>
                    </div>
                    <div class="card-body">

                        <form method="post">
                            <label>Başlık</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Açıklama</label>
                            <input type="text" asp-for="Description" class="form-control" />
                            <br />
                            <label>Mail</label>
                            <input type="text" asp-for="Email1" class="form-control" />
                            <br />
                            <input type="text" asp-for="Email2" class="form-control" />
                            <br />
                            <label>Telefon</label>
                            <input type="text" asp-for="Phone1" class="form-control" />
                            <br />
                            <input type="text" asp-for="Phone2" class="form-control" />
                            <br />
                            <label>Adres</label>
                            <textarea rows="4" class="form-control" asp-for="Address"></textarea>
                            <br />
                            <button class="btn btn-primary">iletişim bilgisi Ekle</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

