@model MyPortfolioUdemy.DAL.Entities.Feature
@{
    ViewData["Title"] = "CreateFeature";
    Layout = "~/Views/LayoutController1/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Öne Çıkanlar</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Öne Çıkan Ekleme Sayfası</div>
                    </div>
                    <div class="card-body">

                        <form method="post">
                            <label>Başlık</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Açıklama</label>
                            <input type="text" asp-for="Description" class="form-control" />
                            <br />
                            <button class="btn btn-primary">Öne Çıkan Ekle</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
